<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container bg-dark my-3 p-3 text-light rounded-lg">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h1 class="text-center text-info">Criar conta ou Entrar</h1>
      <p class="text-center lead">Faça login ou crie sua conta abaixo</p>
      <%- include('includes/messages'); %>
      <div class="row">
        <div class="col-lg my-5 p-3 w-50 mr-3">
          <h4 class="text-warning">Faça seu cadastro</h4>
          <p>Se você ainda não tem conta, preencha o formulário abaixo:</p>
          <form class="form-cadastro" action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label>Seu e-mail</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-lg btn-warning btn-block"><i class="fa-solid fa-user-tag"></i> Registrar-se</button>
          </form>
        </div>
        <div class="col-lg my-5 border-left border-secondary p-3">
          <div class="row">
            <div class="col-12 mb-4 ml-3">
              <h4 class="text-info">Faça seu login</h4>
              <p class="mb-3">Se você já tem uma conta, faça login abaixo:</p>
            </div>
          </div>
 
          <form class="form-login ml-3" action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label>Seu e-mail</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-lg btn-info btn-block"><i class="fa-solid fa-arrow-right-to-bracket"></i> Entrar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>